transition()
  -webkit-transition: arguments
  -moz-transition: arguments
  -o-transition: arguments
  transition: arguments

div a
	transition: color 0.5s ease-out

div 
  a:link, a:visited
  	color: #6B8A96
  	outline: none
  	text-decoration: underline

div a:hover
	color: #BA9471
	text-decoration: underline

body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF
